.toggle-button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.toggle-button:hover {
    -fx-background-color: #e0ecfb;
    -fx-text-fill: #000000;
}
.button-border{
    -fx-border-radius: 20;
}
.toggle-button:selected {
    -fx-background-color: #c4daf7;
    -fx-text-fill: #000000;
}
.normal-button{
    -fx-background-color: #3b63b3;
    -fx-text-fill: #ffffff;
}
.normal-background{
    -fx-background-color: #ffffff;
}

.blue-btn {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 4 16;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.stats-card {
    -fx-background-color: #F3F3F3;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-radius: 15;
}

.stats-title {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

.stats-value {
    -fx-font-family: Arial;
    -fx-font-size: 30px;
}
