.toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-padding: 10 5;
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 14px;
    -fx-font-family: Inter;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-graphic-text-gap: 10;
    -fx-content-display: LEFT;
}

.toggle-button:hover {
    -fx-background-color: #f3f8ff;
}
.button-border{
    -fx-border-radius: 20;
    -fx-margin: 5px 2px;
}
.toggle-button:selected {
    -fx-background-color: #e6f0ff;
    -fx-text-fill: #000000;
}

.normal-button{
    -fx-background-color: #3b63b3;
    -fx-text-fill: #ffffff;
}
.normal-background{
    -fx-background-color: #ffffff;
}

.blue-btn {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-padding: 4 16;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.stats-card {
    -fx-background-color: #F3F3F3;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-background-radius: 15;
}

.stats-title {
    -fx-font-family: Arial;
    -fx-font-size: 14px;
}

.stats-value {
    -fx-font-family: Arial;
    -fx-font-size: 30px;
}
.completedinvoice-label-table-view {
    -fx-background-color: #e9ffe9;
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}
.notcomplete-label-table-view {
    -fx-background-color: #effaff;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-radius: 10;
}
.split-pane-divider {
    -fx-padding: 0; /* Remove padding around the divider */
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-border-width: 0; /* Remove any borders */
}

/* Optional: Remove hover/drag visual feedback if any */
.split-pane-divider:hover {
    -fx-background-color: transparent; /* Ensure no background appears on hover */
    -fx-opacity: 1; /* Keep opacity consistent */
    -fx-cursor: default; /* Change cursor to default, not resize */
}
.horizontal-separator-line{
-fx-min-height: 1px;    /* Minimum height of the line */
    -fx-pref-height: 1px;   /* Preferred height (thickness) of the line */
    -fx-max-height: 1px;    /* Maximum height of the line */
    -fx-background-color: #cccccc; /* Color of the line (e.g., light gray) */
    -fx-hgrow: always;      /* Makes the Region grow horizontally to fill available width */
    -fx-margin: 5px 2px;    /* Optional: Add vertical margin to give some space around the line */
}

