<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Kết nối SQL Server -->
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://LAPTOP-QCE8DGMH:1433;databaseName=JavaHotelManagement;integratedSecurity=true;encrypt=false</property>
        <!-- Nho sua CSDL -->

        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <!-- Specify the JDBC driver class -->
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Mention annotated class -->
        <mapping class="com.example.hotelmanagement.Models.Amenity"/>
        <mapping class="com.example.hotelmanagement.Models.Customer"/>
        <mapping class="com.example.hotelmanagement.Models.Employee"/>
        <mapping class="com.example.hotelmanagement.Models.Customertype"/>
        <mapping class="com.example.hotelmanagement.Models.Invoice"/>
        <mapping class="com.example.hotelmanagement.Models.Prebooking"/>
        <mapping class="com.example.hotelmanagement.Models.Reservation"/>
        <mapping class="com.example.hotelmanagement.Models.Reservationguest"/>
        <mapping class="com.example.hotelmanagement.Models.RevenueReport"/>
        <mapping class="com.example.hotelmanagement.Models.RevenueReportDetail"/>
        <mapping class="com.example.hotelmanagement.Models.Role"/>
        <mapping class="com.example.hotelmanagement.Models.Room"/>
        <mapping class="com.example.hotelmanagement.Models.Roomtype"/>
        <mapping class="com.example.hotelmanagement.Models.Roomtypeamenity"/>
        <mapping class="com.example.hotelmanagement.Models.Service"/>
        <mapping class="com.example.hotelmanagement.Models.Servicebooking"/>
        <mapping class="com.example.hotelmanagement.Models.Useraccount"/>
        <mapping class="com.example.hotelmanagement.Models.Permission"/>
        <mapping class="com.example.hotelmanagement.Models.RolePermission"/>
    </session-factory>
</hibernate-configuration>